acmart.cls
acmart.pdf
acmguide.pdf
sample-*.pdf
tcpsnitch.pdf
*.log
*.aux
*.cfg
*.glo
*.idx
*.toc
*.ilg
*.ind
*.out
*.lof
*.lot
*.blg
*.gls
*.cut
*.hd
*.dvi
*.ps
*.thm
*.tgz
*.zip
*.rpi
*~
*.synctex.gz
.DS_Store
*.sw*
